.js-tab {
    position: relative;

    width: 100%;
    height: 102px;

}

.js-tabbar {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    /* z-index: --zindex; */
    z-index: 1;
    background-color: #fff;

    visibility: hidden;
    opacity: 0;

    transition: visibility 0.3s ease, opacity 0.2s linear 0.1s;
}

.js-tabbar.active {
    visibility: visible;
    opacity: 1;
}